USE [master]
GO
	/****** Object:  Database [TalmaWR]    Script Date: 14/12/2025 19:01:16 ******/
	CREATE DATABASE [TalmaWR] CONTAINMENT = NONE ON PRIMARY (
		NAME = N'TalmaWR',
		FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TalmaWR.mdf',
		SIZE = 8192KB,
		MAXSIZE = UNLIMITED,
		FILEGROWTH = 65536KB
	) LOG ON (
		NAME = N'TalmaWR_log',
		FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TalmaWR_log.ldf',
		SIZE = 8192KB,
		MAXSIZE = 2048GB,
		FILEGROWTH = 65536KB
	) WITH CATALOG_COLLATION = DATABASE_DEFAULT,
	LEDGER = OFF
GO ALTER DATABASE [TalmaWR]
SET COMPATIBILITY_LEVEL = 160
GO IF (
		1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled')
	) begin EXEC [TalmaWR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO ALTER DATABASE [TalmaWR]
SET ANSI_NULL_DEFAULT OFF
GO ALTER DATABASE [TalmaWR]
SET ANSI_NULLS OFF
GO ALTER DATABASE [TalmaWR]
SET ANSI_PADDING OFF
GO ALTER DATABASE [TalmaWR]
SET ANSI_WARNINGS OFF
GO ALTER DATABASE [TalmaWR]
SET ARITHABORT OFF
GO ALTER DATABASE [TalmaWR]
SET AUTO_CLOSE OFF
GO ALTER DATABASE [TalmaWR]
SET AUTO_SHRINK OFF
GO ALTER DATABASE [TalmaWR]
SET AUTO_UPDATE_STATISTICS ON
GO ALTER DATABASE [TalmaWR]
SET CURSOR_CLOSE_ON_COMMIT OFF
GO ALTER DATABASE [TalmaWR]
SET CURSOR_DEFAULT GLOBAL
GO ALTER DATABASE [TalmaWR]
SET CONCAT_NULL_YIELDS_NULL OFF
GO ALTER DATABASE [TalmaWR]
SET NUMERIC_ROUNDABORT OFF
GO ALTER DATABASE [TalmaWR]
SET QUOTED_IDENTIFIER OFF
GO ALTER DATABASE [TalmaWR]
SET RECURSIVE_TRIGGERS OFF
GO ALTER DATABASE [TalmaWR]
SET ENABLE_BROKER
GO ALTER DATABASE [TalmaWR]
SET AUTO_UPDATE_STATISTICS_ASYNC OFF
GO ALTER DATABASE [TalmaWR]
SET DATE_CORRELATION_OPTIMIZATION OFF
GO ALTER DATABASE [TalmaWR]
SET TRUSTWORTHY OFF
GO ALTER DATABASE [TalmaWR]
SET ALLOW_SNAPSHOT_ISOLATION OFF
GO ALTER DATABASE [TalmaWR]
SET PARAMETERIZATION SIMPLE
GO ALTER DATABASE [TalmaWR]
SET READ_COMMITTED_SNAPSHOT OFF
GO ALTER DATABASE [TalmaWR]
SET HONOR_BROKER_PRIORITY OFF
GO ALTER DATABASE [TalmaWR]
SET RECOVERY FULL
GO ALTER DATABASE [TalmaWR]
SET MULTI_USER
GO ALTER DATABASE [TalmaWR]
SET PAGE_VERIFY CHECKSUM
GO ALTER DATABASE [TalmaWR]
SET DB_CHAINING OFF
GO ALTER DATABASE [TalmaWR]
SET FILESTREAM(NON_TRANSACTED_ACCESS = OFF)
GO ALTER DATABASE [TalmaWR]
SET TARGET_RECOVERY_TIME = 60 SECONDS
GO ALTER DATABASE [TalmaWR]
SET DELAYED_DURABILITY = DISABLED
GO ALTER DATABASE [TalmaWR]
SET ACCELERATED_DATABASE_RECOVERY = OFF
GO EXEC sys.sp_db_vardecimal_storage_format N'TalmaWR',
	N 'ON'
GO ALTER DATABASE [TalmaWR]
SET QUERY_STORE = ON
GO ALTER DATABASE [TalmaWR]
SET QUERY_STORE (
		OPERATION_MODE = READ_WRITE,
		CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30),
		DATA_FLUSH_INTERVAL_SECONDS = 900,
		INTERVAL_LENGTH_MINUTES = 60,
		MAX_STORAGE_SIZE_MB = 1000,
		QUERY_CAPTURE_MODE = AUTO,
		SIZE_BASED_CLEANUP_MODE = AUTO,
		MAX_PLANS_PER_QUERY = 200,
		WAIT_STATS_CAPTURE_MODE = ON
	)
GO USE [TalmaWR]
GO USE [TalmaWR]
GO
	/****** Object:  Sequence [dbo].[seq_WR]    Script Date: 14/12/2025 19:01:16 ******/
	CREATE SEQUENCE [dbo].[seq_WR] AS [bigint] START WITH 1 INCREMENT BY 1 MINVALUE -9223372036854775808 MAXVALUE 9223372036854775807 CACHE
GO
	/****** Object:  Table [dbo].[Aerolinea]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[Aerolinea](
		[ID_AERO] [varchar](10) NOT NULL,
		[NOM_AERO] [varchar](200) NOT NULL,
		PRIMARY KEY CLUSTERED ([ID_AERO] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[GuiaMadre]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[GuiaMadre](
		[COD_GUI_MA] [varchar](20) NOT NULL,
		[ID_AERO] [varchar](10) NOT NULL,
		[COD_EMB] [varchar](10) NULL,
		[T_AL] [varchar](20) NULL,
		[BUL] [int] NULL,
		[K_REC] [decimal](18, 3) NULL,
		[P_VOL] [decimal](18, 3) NULL,
		[LARGO] [decimal](18, 2) NULL,
		[ANCHO] [decimal](18, 2) NULL,
		[ALTO] [decimal](18, 2) NULL,
		PRIMARY KEY CLUSTERED ([COD_GUI_MA] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[WarehouseReceipt]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[WarehouseReceipt](
		[COD_WAR] [varchar](20) NOT NULL,
		[FE_INI_RECEP] [datetime2](0) NOT NULL,
		[RUC_EXP] [varchar](11) NOT NULL,
		[COD_CIU_ORI] [varchar](10) NULL,
		[COD_CIU_DES] [varchar](10) NOT NULL,
		[COD_CONSIG] [varchar](10) NOT NULL,
		[RUC_AGE_CAR] [varchar](11) NULL,
		[COD_TIP_ALMA] [varchar](10) NULL,
		[COD_CAN] [varchar](5) NOT NULL,
		[COD_CON] [varchar](10) NULL,
		[N_DAM] [varchar](20) NULL,
		[COD_GUI_MA] [varchar](20) NULL,
		[COD_AGEN_ADU] [varchar](10) NULL,
		[ID_AERO] [varchar](10) NOT NULL,
		[REGIMEN] [varchar](2) NOT NULL,
		[BUL_WR] [int] NULL,
		[PESO_WR] [decimal](18, 3) NULL,
		[LARGO_WR] [decimal](18, 2) NULL,
		[ANCHO_WR] [decimal](18, 2) NULL,
		[ALTO_WR] [decimal](18, 2) NULL,
		[VOL_WR] [decimal](18, 3) NULL,
		[usuario_id] [int] NULL,
		[FE_FIN_RECEP] [datetime2](0) NULL,
		PRIMARY KEY CLUSTERED ([COD_WAR] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[WR_Detalle]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[WR_Detalle](
		[ID_DET] [bigint] IDENTITY(1, 1) NOT NULL,
		[COD_WAR] [varchar](20) NOT NULL,
		[ITEM_NRO] [int] NOT NULL,
		[BUL] [int] NOT NULL,
		[LARGO] [decimal](18, 2) NOT NULL,
		[ANCHO] [decimal](18, 2) NOT NULL,
		[ALTO] [decimal](18, 2) NOT NULL,
		[P_VOL] [decimal](18, 3) NOT NULL,
		[COD_GUIA_HIJA] [varchar](20) NULL,
		[usuario_id] [int] NULL,
		PRIMARY KEY CLUSTERED ([ID_DET] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY],
		CONSTRAINT [UQ_WRDET] UNIQUE NONCLUSTERED ([COD_WAR] ASC, [ITEM_NRO] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  View [dbo].[vWR_Resumen]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE VIEW [dbo].[vWR_Resumen] AS
SELECT wr.COD_WAR,
	wr.FE_INI_RECEP,
	wr.FE_FI_RECEP,
	wr.ID_AERO,
	aero.NOM_AERO AS Aerolinea,
	wr.REGIMEN,
	wr.COD_CAN,
	wr.BUL_WR,
	wr.PESO_WR,
	wr.VOL_WR,
	wr.LARGO_WR,
	wr.ANCHO_WR,
	wr.ALTO_WR,
	wr.COD_GUI_MA,
	gm.BUL AS GM_Bultos,
	gm.K_REC AS GM_Kilos,
	gm.P_VOL AS GM_Volumen,
	SUM(d.BUL) AS Det_Bultos,
	SUM(d.P_VOL) AS Det_Volumen
FROM dbo.WarehouseReceipt wr
	LEFT JOIN dbo.Aerolinea aero ON aero.ID_AERO = wr.ID_AERO
	LEFT JOIN dbo.GuiaMadre gm ON gm.COD_GUI_MA = wr.COD_GUI_MA
	LEFT JOIN dbo.WR_Detalle d ON d.COD_WAR = wr.COD_WAR
GROUP BY wr.COD_WAR,
	wr.FE_INI_RECEP,
	wr.FE_FI_RECEP,
	wr.ID_AERO,
	aero.NOM_AERO,
	wr.REGIMEN,
	wr.COD_CAN,
	wr.BUL_WR,
	wr.PESO_WR,
	wr.VOL_WR,
	wr.LARGO_WR,
	wr.ANCHO_WR,
	wr.ALTO_WR,
	wr.COD_GUI_MA,
	gm.BUL,
	gm.K_REC,
	gm.P_VOL;
GO
	/****** Object:  Table [dbo].[AgenteAduanas]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[AgenteAduanas](
		[COD_AGEN_ADU] [varchar](10) NOT NULL,
		[NOM_AGEN_ADU] [varchar](200) NOT NULL,
		PRIMARY KEY CLUSTERED ([COD_AGEN_ADU] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[AgenteCarga]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[AgenteCarga](
		[RUC_AGE_CAR] [varchar](11) NOT NULL,
		[NOM_AGE_CAR] [varchar](200) NOT NULL,
		PRIMARY KEY CLUSTERED ([RUC_AGE_CAR] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[Canal]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[Canal](
		[COD_CAN] [varchar](5) NOT NULL,
		[COL] [varchar](20) NOT NULL,
		PRIMARY KEY CLUSTERED ([COD_CAN] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[CiudadDestino]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[CiudadDestino](
		[COD_CIU_DES] [varchar](10) NOT NULL,
		[CUI] [varchar](10) NULL,
		[PA] [varchar](50) NULL,
		PRIMARY KEY CLUSTERED ([COD_CIU_DES] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[CiudadOrigen]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[CiudadOrigen](
		[COD_CIU_ORI] [varchar](10) NOT NULL,
		[CUI] [varchar](10) NULL,
		[PA] [varchar](50) NULL,
		PRIMARY KEY CLUSTERED ([COD_CIU_ORI] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[Condicion]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[Condicion](
		[COD_CON] [varchar](10) NOT NULL,
		[TIP_CON] [varchar](100) NOT NULL,
		PRIMARY KEY CLUSTERED ([COD_CON] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[Consignatario]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[Consignatario](
		[COD_CONSIG] [varchar](10) NOT NULL,
		[NOM_CONSIG] [varchar](200) NOT NULL,
		PRIMARY KEY CLUSTERED ([COD_CONSIG] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[Exportador]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[Exportador](
		[RUC_EXP] [varchar](11) NOT NULL,
		[NOM_EXP] [varchar](200) NOT NULL,
		PRIMARY KEY CLUSTERED ([RUC_EXP] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[GuiaHija]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[GuiaHija](
		[COD_GUIA_HIJA] [varchar](20) NOT NULL,
		[COD_GUI_MA] [varchar](20) NOT NULL,
		[ID_AERO] [varchar](10) NOT NULL,
		[COD_EMB] [varchar](10) NULL,
		[T_AL] [varchar](20) NULL,
		[BUL] [int] NULL,
		[K_REC] [decimal](18, 3) NULL,
		[P_VOL] [decimal](18, 3) NULL,
		[LARGO] [decimal](18, 2) NULL,
		[ANCHO] [decimal](18, 2) NULL,
		[ALTO] [decimal](18, 2) NULL,
		PRIMARY KEY CLUSTERED ([COD_GUIA_HIJA] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[NumeroDAM]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[NumeroDAM](
		[N_DAM] [varchar](20) NOT NULL,
		[ZOE_AE] [varchar](10) NULL,
		[AN_NUME] [int] NULL,
		[RE] [varchar](2) NOT NULL,
		[DAM] [varchar](50) NULL,
		PRIMARY KEY CLUSTERED ([N_DAM] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[PreIngreso]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[PreIngreso](
		[ID] [int] IDENTITY(1, 1) NOT NULL,
		[FECHA_REG] [datetime2](0) NOT NULL,
		[ID_AERO] [varchar](10) NULL,
		[NOM_AERO] [varchar](200) NULL,
		[MAWB] [varchar](20) NULL,
		[HAWB] [varchar](20) NULL,
		[CONTENIDO] [varchar](500) NULL,
		[DESTINO] [varchar](200) NULL,
		[CONSIGNATARIO] [varchar](200) NULL,
		[EXPORTADOR] [varchar](200) NULL,
		[AGEN_ADUAN] [varchar](200) NULL,
		[EMBALAJE] [varchar](200) NULL,
		[NUM_BULTO] [int] NULL,
		[PESO] [decimal](18, 3) NULL,
		[TIPO_CARGA] [varchar](300) NULL,
		[DIMENSIONES] [varchar](100) NULL,
		[DAM] [varchar](20) NULL,
		[ANIO_DAM] [int] NULL,
		[ADU_NUM] [varchar](10) NULL,
		[FECHA_NUMERACION] [date] NULL,
		[FECHA_VEN_ADUANA] [date] NULL,
		[REGIMEN] [varchar](50) NULL,
		[AGEN_CARGA] [varchar](200) NULL,
		[MATERIALIZADO] [tinyint] NULL,
		[usuario_id] [int] NULL,
		PRIMARY KEY CLUSTERED ([ID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[TipoAlmacenaje]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[TipoAlmacenaje](
		[COD_TIP_ALMA] [varchar](10) NOT NULL,
		[TIP_ALMA] [varchar](100) NOT NULL,
		PRIMARY KEY CLUSTERED ([COD_TIP_ALMA] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[TipoEmbalaje]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[TipoEmbalaje](
		[COD_EMB] [varchar](10) NOT NULL,
		[TI_EMB] [varchar](100) NOT NULL,
		PRIMARY KEY CLUSTERED ([COD_EMB] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/12/2025 19:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO CREATE TABLE [dbo].[Usuarios](
		[id] [int] IDENTITY(1, 1) NOT NULL,
		[usuario] [varchar](50) NOT NULL,
		[contrasena] [varchar](100) NOT NULL,
		[rol] [varchar](20) NOT NULL,
		PRIMARY KEY CLUSTERED ([id] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY],
		UNIQUE NONCLUSTERED ([usuario] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
	/****** Object:  Index [IX_GH_GM]    Script Date: 14/12/2025 19:01:16 ******/
	CREATE NONCLUSTERED INDEX [IX_GH_GM] ON [dbo].[GuiaHija] ([COD_GUI_MA] ASC) WITH (
		PAD_INDEX = OFF,
		STATISTICS_NORECOMPUTE = OFF,
		SORT_IN_TEMPDB = OFF,
		DROP_EXISTING = OFF,
		ONLINE = OFF,
		ALLOW_ROW_LOCKS = ON,
		ALLOW_PAGE_LOCKS = ON,
		OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
	) ON [PRIMARY]
GO
	/****** Object:  Index [IX_WR_Fechas]    Script Date: 14/12/2025 19:01:16 ******/
	CREATE NONCLUSTERED INDEX [IX_WR_Fechas] ON [dbo].[WarehouseReceipt] ([FE_INI_RECEP] ASC) WITH (
		PAD_INDEX = OFF,
		STATISTICS_NORECOMPUTE = OFF,
		SORT_IN_TEMPDB = OFF,
		DROP_EXISTING = OFF,
		ONLINE = OFF,
		ALLOW_ROW_LOCKS = ON,
		ALLOW_PAGE_LOCKS = ON,
		OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
	) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
	/****** Object:  Index [IX_WRDET_WR]    Script Date: 14/12/2025 19:01:16 ******/
	CREATE NONCLUSTERED INDEX [IX_WRDET_WR] ON [dbo].[WR_Detalle] ([COD_WAR] ASC) WITH (
		PAD_INDEX = OFF,
		STATISTICS_NORECOMPUTE = OFF,
		SORT_IN_TEMPDB = OFF,
		DROP_EXISTING = OFF,
		ONLINE = OFF,
		ALLOW_ROW_LOCKS = ON,
		ALLOW_PAGE_LOCKS = ON,
		OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
	) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NumeroDAM]
ADD CONSTRAINT [DF_DAM_RE] DEFAULT ('40') FOR [RE]
GO
ALTER TABLE [dbo].[PreIngreso]
ADD DEFAULT (sysdatetime()) FOR [FECHA_REG]
GO
ALTER TABLE [dbo].[PreIngreso]
ADD DEFAULT ((0)) FOR [MATERIALIZADO]
GO
ALTER TABLE [dbo].[WarehouseReceipt]
ADD CONSTRAINT [DF_WR_REGIMEN] DEFAULT ('40') FOR [REGIMEN]
GO
ALTER TABLE [dbo].[GuiaHija] WITH CHECK
ADD CONSTRAINT [FK_GH_Aero] FOREIGN KEY([ID_AERO]) REFERENCES [dbo].[Aerolinea] ([ID_AERO])
GO
ALTER TABLE [dbo].[GuiaHija] CHECK CONSTRAINT [FK_GH_Aero]
GO
ALTER TABLE [dbo].[GuiaHija] WITH CHECK
ADD CONSTRAINT [FK_GH_Emb] FOREIGN KEY([COD_EMB]) REFERENCES [dbo].[TipoEmbalaje] ([COD_EMB])
GO
ALTER TABLE [dbo].[GuiaHija] CHECK CONSTRAINT [FK_GH_Emb]
GO
ALTER TABLE [dbo].[GuiaHija] WITH CHECK
ADD CONSTRAINT [FK_GH_GM] FOREIGN KEY([COD_GUI_MA]) REFERENCES [dbo].[GuiaMadre] ([COD_GUI_MA])
GO
ALTER TABLE [dbo].[GuiaHija] CHECK CONSTRAINT [FK_GH_GM]
GO
ALTER TABLE [dbo].[GuiaMadre] WITH CHECK
ADD CONSTRAINT [FK_GM_Aero] FOREIGN KEY([ID_AERO]) REFERENCES [dbo].[Aerolinea] ([ID_AERO])
GO
ALTER TABLE [dbo].[GuiaMadre] CHECK CONSTRAINT [FK_GM_Aero]
GO
ALTER TABLE [dbo].[GuiaMadre] WITH CHECK
ADD CONSTRAINT [FK_GM_Emb] FOREIGN KEY([COD_EMB]) REFERENCES [dbo].[TipoEmbalaje] ([COD_EMB])
GO
ALTER TABLE [dbo].[GuiaMadre] CHECK CONSTRAINT [FK_GM_Emb]
GO
ALTER TABLE [dbo].[PreIngreso] WITH CHECK
ADD CONSTRAINT [FK_PreIngreso_Usuario] FOREIGN KEY([usuario_id]) REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[PreIngreso] CHECK CONSTRAINT [FK_PreIngreso_Usuario]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WarehouseReceipt_Usuario] FOREIGN KEY([usuario_id]) REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WarehouseReceipt_Usuario]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_Adu] FOREIGN KEY([COD_AGEN_ADU]) REFERENCES [dbo].[AgenteAduanas] ([COD_AGEN_ADU])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_Adu]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_Aero] FOREIGN KEY([ID_AERO]) REFERENCES [dbo].[Aerolinea] ([ID_AERO])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_Aero]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_AgeC] FOREIGN KEY([RUC_AGE_CAR]) REFERENCES [dbo].[AgenteCarga] ([RUC_AGE_CAR])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_AgeC]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_Canal] FOREIGN KEY([COD_CAN]) REFERENCES [dbo].[Canal] ([COD_CAN])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_Canal]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_CiD] FOREIGN KEY([COD_CIU_DES]) REFERENCES [dbo].[CiudadDestino] ([COD_CIU_DES])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_CiD]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_CiO] FOREIGN KEY([COD_CIU_ORI]) REFERENCES [dbo].[CiudadOrigen] ([COD_CIU_ORI])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_CiO]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_Cond] FOREIGN KEY([COD_CON]) REFERENCES [dbo].[Condicion] ([COD_CON])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_Cond]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_Cons] FOREIGN KEY([COD_CONSIG]) REFERENCES [dbo].[Consignatario] ([COD_CONSIG])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_Cons]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_DAM] FOREIGN KEY([N_DAM]) REFERENCES [dbo].[NumeroDAM] ([N_DAM])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_DAM]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_Exp] FOREIGN KEY([RUC_EXP]) REFERENCES [dbo].[Exportador] ([RUC_EXP])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_Exp]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_GM] FOREIGN KEY([COD_GUI_MA]) REFERENCES [dbo].[GuiaMadre] ([COD_GUI_MA])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_GM]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [FK_WR_TAlm] FOREIGN KEY([COD_TIP_ALMA]) REFERENCES [dbo].[TipoAlmacenaje] ([COD_TIP_ALMA])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WR_TAlm]
GO
ALTER TABLE [dbo].[WR_Detalle] WITH CHECK
ADD CONSTRAINT [FK_WR_Detalle_Usuario] FOREIGN KEY([usuario_id]) REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[WR_Detalle] CHECK CONSTRAINT [FK_WR_Detalle_Usuario]
GO
ALTER TABLE [dbo].[WR_Detalle] WITH CHECK
ADD CONSTRAINT [FK_WRDET_GH] FOREIGN KEY([COD_GUIA_HIJA]) REFERENCES [dbo].[GuiaHija] ([COD_GUIA_HIJA])
GO
ALTER TABLE [dbo].[WR_Detalle] CHECK CONSTRAINT [FK_WRDET_GH]
GO
ALTER TABLE [dbo].[WR_Detalle] WITH CHECK
ADD CONSTRAINT [FK_WRDET_WR] FOREIGN KEY([COD_WAR]) REFERENCES [dbo].[WarehouseReceipt] ([COD_WAR])
GO
ALTER TABLE [dbo].[WR_Detalle] CHECK CONSTRAINT [FK_WRDET_WR]
GO
ALTER TABLE [dbo].[GuiaHija] WITH CHECK
ADD CONSTRAINT [CK_GH_BUL] CHECK (
		(
			[BUL] IS NULL
			OR [BUL] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[GuiaHija] CHECK CONSTRAINT [CK_GH_BUL]
GO
ALTER TABLE [dbo].[GuiaHija] WITH CHECK
ADD CONSTRAINT [CK_GH_DIM] CHECK (
		(
			(
				[LARGO] IS NULL
				OR [LARGO] >=(0)
			)
			AND (
				[ANCHO] IS NULL
				OR [ANCHO] >=(0)
			)
			AND (
				[ALTO] IS NULL
				OR [ALTO] >=(0)
			)
		)
	)
GO
ALTER TABLE [dbo].[GuiaHija] CHECK CONSTRAINT [CK_GH_DIM]
GO
ALTER TABLE [dbo].[GuiaHija] WITH CHECK
ADD CONSTRAINT [CK_GH_KREC] CHECK (
		(
			[K_REC] IS NULL
			OR [K_REC] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[GuiaHija] CHECK CONSTRAINT [CK_GH_KREC]
GO
ALTER TABLE [dbo].[GuiaHija] WITH CHECK
ADD CONSTRAINT [CK_GH_PVOL] CHECK (
		(
			[P_VOL] IS NULL
			OR [P_VOL] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[GuiaHija] CHECK CONSTRAINT [CK_GH_PVOL]
GO
ALTER TABLE [dbo].[GuiaMadre] WITH CHECK
ADD CONSTRAINT [CK_GM_BUL] CHECK (
		(
			[BUL] IS NULL
			OR [BUL] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[GuiaMadre] CHECK CONSTRAINT [CK_GM_BUL]
GO
ALTER TABLE [dbo].[GuiaMadre] WITH CHECK
ADD CONSTRAINT [CK_GM_DIM] CHECK (
		(
			(
				[LARGO] IS NULL
				OR [LARGO] >=(0)
			)
			AND (
				[ANCHO] IS NULL
				OR [ANCHO] >=(0)
			)
			AND (
				[ALTO] IS NULL
				OR [ALTO] >=(0)
			)
		)
	)
GO
ALTER TABLE [dbo].[GuiaMadre] CHECK CONSTRAINT [CK_GM_DIM]
GO
ALTER TABLE [dbo].[GuiaMadre] WITH CHECK
ADD CONSTRAINT [CK_GM_KREC] CHECK (
		(
			[K_REC] IS NULL
			OR [K_REC] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[GuiaMadre] CHECK CONSTRAINT [CK_GM_KREC]
GO
ALTER TABLE [dbo].[GuiaMadre] WITH CHECK
ADD CONSTRAINT [CK_GM_PVOL] CHECK (
		(
			[P_VOL] IS NULL
			OR [P_VOL] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[GuiaMadre] CHECK CONSTRAINT [CK_GM_PVOL]
GO
ALTER TABLE [dbo].[NumeroDAM] WITH CHECK
ADD CONSTRAINT [CK_DAM_RE_40] CHECK (([RE] = '40'))
GO
ALTER TABLE [dbo].[NumeroDAM] CHECK CONSTRAINT [CK_DAM_RE_40]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [CK_WR_ALT] CHECK (
		(
			[ALTO_WR] IS NULL
			OR [ALTO_WR] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [CK_WR_ALT]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [CK_WR_ANC] CHECK (
		(
			[ANCHO_WR] IS NULL
			OR [ANCHO_WR] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [CK_WR_ANC]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [CK_WR_BUL] CHECK (
		(
			[BUL_WR] IS NULL
			OR [BUL_WR] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [CK_WR_BUL]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [CK_WR_LAR] CHECK (
		(
			[LARGO_WR] IS NULL
			OR [LARGO_WR] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [CK_WR_LAR]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [CK_WR_PESO] CHECK (
		(
			[PESO_WR] IS NULL
			OR [PESO_WR] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [CK_WR_PESO]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [CK_WR_REG40] CHECK (([REGIMEN] = '40'))
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [CK_WR_REG40]
GO
ALTER TABLE [dbo].[WarehouseReceipt] WITH CHECK
ADD CONSTRAINT [CK_WR_VOL] CHECK (
		(
			[VOL_WR] IS NULL
			OR [VOL_WR] >=(0)
		)
	)
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [CK_WR_VOL]
GO
ALTER TABLE [dbo].[WR_Detalle] WITH CHECK
ADD CHECK (([ANCHO] >=(0)))
GO
ALTER TABLE [dbo].[WR_Detalle] WITH CHECK
ADD CHECK (([LARGO] >=(0)))
GO
ALTER TABLE [dbo].[WR_Detalle] WITH CHECK
ADD CHECK (([P_VOL] >=(0)))
GO
ALTER TABLE [dbo].[WR_Detalle] WITH CHECK
ADD CHECK (([ALTO] >=(0)))
GO
ALTER TABLE [dbo].[WR_Detalle] WITH CHECK
ADD CHECK (([BUL] >=(0)))
GO USE [master]
GO ALTER DATABASE [TalmaWR]
SET READ_WRITE
GO